img {
    width: 100%;
    height: auto;
}

.flex-box-6,
.flex-box-3 {
    margin: 0;
}

h4,h6 {
    color: red;
}
.flex-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    h4,h6 {
        color: green;
    }
    .flex-box-4 {
         width: 100%;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
   
    h4,h6 {
        color: yellow;
    }

    
    .flex-box-6 {
        width: 38%;
    }
    
    .flex-box-4 {
        width: 30%;
    }
    
    .flex-box-3 {
         width: 20%;
    }
    

}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    h4,h6 {
        color: aqua;
    }
    .flex-box-6 {
        width: 41%;
    }
    
    .flex-box-4 {
        width: 30%;
    }
    
    .flex-box-3 {
         width: 20%;
    }

}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    h4,h6 {
        color: orange;
    }

}
